$fw-window-background-color: $fw-background-color !default;
$fw-window-border-color: $fw-border-color !default;
$fw-window-border-width: $fw-border-width !default;

$fw-window-shadow-color: $fw-shadow-color !default;

.fw-window {
  border: solid $fw-window-border-color $fw-window-border-width;
  background-color: $fw-window-background-color;
  /*h-offset v-offset blur spread color [inset]*/
  box-shadow: 3px 3px 5px 0 $fw-window-shadow-color;

  > :not(:last-child) {
    border-bottom: solid $fw-window-border-color $fw-window-border-width;
  }

  > * {
    padding: 0.5em;
  }

  .fw-window-header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    .fw-window-header-text {
      font-size: 1.5em;
    }
  }

  .fw-window-body {

  }

  .fw-window-footer {

    .fw-button {

    }
  }
}
