$app-color-1: #131a22;
$app-color-2: #232f3e;
$app-color-3: #37475a;
$app-color-4: #004B91;
$app-color-7: #0055aa;
$app-color-5: #0066c0;
$app-color-6: #247bbd;
$app-color-7: #48a3c6;












$app-black: #111;
$app-grey-1: #333;
$app-grey-2: #444;
$app-grey-3: #5b626a;
$app-grey-4: #767676;
$app-grey-5: #949494;
$app-grey-6: #aaa;
$app-grey-7: #ccc;
$app-grey-8: #ddd;
$app-white: #fff;




$app-orange-1: #e47911;
$app-orange-2: #f08804;
$app-orange-3: #febd69;

$app-transparent-grey-1: rgba(0,0,0,0.03);

.app-bg-color-1 {background-color: $app-color-1;}
.app-bg-color-2 {background-color: $app-color-2;}
.app-bg-color-3 {background-color: $app-color-3;}
.app-bg-color-4 {background-color: $app-color-4;}
.app-bg-color-5 {background-color: $app-color-5;}
.app-bg-color-6 {background-color: $app-color-6;}
.app-bg-color-7 {background-color: $app-color-7;}

.app-color-1 {color: $app-color-1;}
.app-color-2 {color: $app-color-2;}
.app-color-3 {color: $app-color-3;}
.app-color-4 {color: $app-color-4;}
.app-color-5 {color: $app-color-5;}
.app-color-6 {color: $app-color-6;}
.app-color-7 {color: $app-color-7;}

.app-bg-black {background-color: $app-black;}
.app-bg-grey-1 {background-color: $app-grey-1;}
.app-bg-grey-2 {background-color: $app-grey-2;}
.app-bg-grey-3 {background-color: $app-grey-3;}
.app-bg-grey-4 {background-color: $app-grey-4;}
.app-bg-grey-5 {background-color: $app-grey-5;}
.app-bg-grey-6 {background-color: $app-grey-6;}
.app-bg-grey-7 {background-color: $app-grey-7;}
.app-bg-grey-8 {background-color: $app-grey-8;}
.app-bg-white {background-color: $app-white;}

.app-black {color: $app-black;}
.app-grey-1 {color: $app-grey-1;}
.app-grey-2 {color: $app-grey-2;}
.app-grey-3 {color: $app-grey-3;}
.app-grey-4 {color: $app-grey-4;}
.app-grey-5 {color: $app-grey-5;}
.app-grey-6 {color: $app-grey-6;}
.app-grey-7 {color: $app-grey-7;}
.app-grey-8 {color: $app-grey-8;}
.app-white {color: $app-white;}

.app-bg-orange-1 {background-color: $app-orange-1;}
.app-bg-orange-2 {background-color: $app-orange-2;}
.app-bg-orange-3 {background-color: $app-orange-3;}

.app-orange-1 {color: $app-orange-1;}
.app-orange-2 {color: $app-orange-2;}
.app-orange-3 {color: $app-orange-3;}
