///////////////////////////////////////////////////////////////////////////////////
@import "custom";
///////////////////////////////////////////////////////////////////////////////////

$app-primary: $app-color-5;

$theme-colors: (
  "app-primary": $app-primary
);

///////////////////////////////////////////////////////////////////////////////////
@import "~bootstrap/scss/bootstrap";
///////////////////////////////////////////////////////////////////////////////////

@mixin app-text-and-bg($postfix, $color) {
  .app-text-#{$postfix} {
    color: $color;
  }
  .app-bg-#{$postfix} {
    background-color: $color;
  }
}

@include app-text-and-bg("primary", $app-primary);

@for $i from 1 through 11 {

  $primary-darker: theme-color-level("app-primary", $i);
  $primary-lighter: theme-color-level("app-primary", -$i);

  @include app-text-and-bg("primary-darker-" + $i, $primary-darker);
  @include app-text-and-bg("primary-lighter-" + $i, $primary-lighter);
}

$app-dark-color-1: #131a22;
$app-dark-color-2: #232f3e;
$app-dark-color-3: #37475a;
$app-dark-colors: (
  dark-1: $app-dark-color-1,
  dark-2: $app-dark-color-2,
  dark-3: $app-dark-color-3,
);

$app-blue-color-1: #004B91;
$app-blue-color-2: #0055aa;
$app-blue-color-3: #0066c0;
$app-blue-color-4: #247bbd;
$app-blue-color-5: #48a3c6;
$app-blue-colors: (
  blue-1: $app-blue-color-1,
  blue-2: $app-blue-color-2,
  blue-3: $app-blue-color-3,
  blue-4: $app-blue-color-4,
  blue-5: $app-blue-color-5,
);

$app-colors: map_merge($app-dark-colors, $app-blue-colors);

@each $name, $color in $app-colors {
  @include app-text-and-bg($name, $color);
}

.nav-button {
  font-weight: bold;
  border: transparent solid 1px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  cursor: pointer;
}

.nav-button:hover {
  border-color: $app-grey-3;
}

.nav-button:active {
  border-color: $white;
}

.nav-dropdown-menu-down-arrow {

  @extend .align-self-center;

  display: inline-block;
  height: 0;
  width: 0;
  border-top: 4px solid $app-grey-6;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0;
  margin-left: 2px;
}

.nav-dropdown-menu-up-arrow {
  height: 0;
  width: 0;
  border-top: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $white;
  margin-top: 1px;
  margin-left: -6px;
}
